body {
    background-image: url('img/radiante.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('img/valorant-fade-agent-art-banner.jpg');
    color: rgb(255, 208, 0);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 208, 0);
}